body{
   background-color:blueviolet 
 }

 .container{
     position: absolute;
     width: 344px;
     height: 580px;
     background-color:red;
     margin: 0 auto;
     position: relative;
     border-radius: 20px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
     padding-top: 15px;
  }

  .button{
    width: 75px;
    height: 75px; 
    margin: 3px;
    cursor: pointer;
    border: 5px;
    font-size: large;
  }

  #textview{
    width: 319px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: 50px;
    background-color: white;
    height: 50px;
    text-align: right;
  }

  .number{
    background-color: whitesmoke;
    font-weight: bold;
  }

  .symbol{
    background-color: whitesmoke;
    font-weight:bold;
  }

  .gray:hover {
    background-color: gray;
  }

  .blue:hover{
    background-color: blue
  }

 